<div class="container p-5">
  <div class="text-center h1 pb-5">Library Management System</div>
  <div class="row g-4 ">
    <div routerLink="../auth/login" class="col" style="cursor: pointer">
      <div class="card h-100 shadow-sm">
        <div class="text-center">
          <div class="img-hover-zoom img-hover-zoom--colorize">
            <img alt="Another Image zoom-on-hover effect" class="shadow"
                 src="https://www.kindpng.com/picc/m/226-2267467_graduation-icon-png-image-student-icon-transparent-png.png">
          </div>
        </div>
        <div class="card-body">
          <div class="clearfix mb-3">
          </div>
          <div class="my-2 text-center">
            <h1>Student Login</h1>
          </div>
          <!--<div class="mb-3">
            <h2 class="text-uppercase text-center role">Senior Frontend Developer</h2>
          </div>-->
          <!--<div class="box">
            <div>
              <ul class="list-inline">
                <li class="list-inline-item"><i class="fab fa-github"></i></li>
                <li class="list-inline-item"><i class="fab fa-linkedin-in"></i></li>
                <li class="list-inline-item"><i class="fab fa-instagram"></i></li>
                <li class="list-inline-item"><i class="fab fa-twitter"></i></li>
              </ul>
            </div>
          </div>-->
        </div>
      </div>
    </div>
    <div routerLink="../auth/login" class="col" style="cursor: pointer">
      <div class="card h-100 shadow-sm">
        <div class="text-center">
          <div class="img-hover-zoom img-hover-zoom--colorize">
            <img alt="Another Image zoom-on-hover effect" class="shadow"
                 src="https://static.thenounproject.com/png/281780-200.png">
          </div>
        </div>

        <div class="card-body">
          <div class="clearfix mb-3">
          </div>
          <div class="my-2 text-center">
            <h1>Librarian Login</h1>
          </div>
          <!--<div class="mb-3">
            <h2 class="text-uppercase text-center role">SEO Specialist</h2>
          </div>-->
          <!--<div class="box">
            <div>
              <ul class="list-inline">
                <li class="list-inline-item"><i class="fab fa-github"></i></li>
                <li class="list-inline-item"><i class="fab fa-linkedin-in"></i></li>
                <li class="list-inline-item"><i class="fab fa-instagram"></i></li>
                <li class="list-inline-item"><i class="fab fa-twitter"></i></li>
              </ul>
            </div>
          </div>-->
        </div>
      </div>
    </div>
    <div routerLink="../auth/login" class="col" style="cursor: pointer">
      <div class="card h-100 shadow-sm">
        <div class="text-center">
          <div class="img-hover-zoom img-hover-zoom--colorize">
            <img alt="Another Image zoom-on-hover effect" class="shadow"
                 src="https://www.freeiconspng.com/uploads/--tie-user-users-work-worker-working-icon--icon-search-engine-6.png">
          </div>
        </div>
        <div class="card-body">
          <div class="clearfix mb-3">
          </div>
          <div class="my-2 text-center">
            <h1>Admin Login</h1>
          </div>
          <!--<div class="mb-3">
            <h2 class="text-uppercase text-center role">DIGITAL MARKETING SPECIALIST</h2>
          </div>-->
          <!--<div class="box">
            <div>
              <ul class="list-inline">
                <li class="list-inline-item"><i class="fab fa-github"></i></li>
                <li class="list-inline-item"><i class="fab fa-linkedin-in"></i></li>
                <li class="list-inline-item"><i class="fab fa-instagram"></i></li>
                <li class="list-inline-item"><i class="fab fa-twitter"></i></li>
              </ul>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
