<!--
<div class="login-page bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h3 class="mb-3">Login Now</h3>
        <div class="bg-white shadow rounded">
          <form (ngSubmit)="login()" [formGroup]="loginForm">
            <div class="row">
              <div class="col-md-7 pe-0">
                <div class="form-left h-100 py-5 px-5">
                  <form action="" class="row g-4">
                    <div class="col-12">
                      <label>Username<span class="text-danger">*</span></label>
                      <div class="input-group">
                        <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                        <input [class.invalid]="loginForm.get('email').invalid
                        && (loginForm.get('email').dirty
                        || loginForm.get('email').touched)"
                               class="form-control" formControlName="email"
                               placeholder="Enter Username" type="text">
                      </div>
                      <div
                        *ngIf="loginForm.get('email').invalid && loginForm.get('email').errors && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                        <small *ngIf="loginForm.get('email').hasError('required')"
                               class="text-danger">
                          This field is required.
                        </small>
                      </div>
                    </div>

                    <div class="col-12">
                      <label>Password<span class="text-danger">*</span></label>
                      <div class="input-group">
                        <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                        <input class="form-control" formControlName="password" placeholder="Enter Password" type="text">
                      </div>
                      <div
                        *ngIf="loginForm.get('password').invalid && loginForm.get('password').errors && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                        <small *ngIf="loginForm.get('password').hasError('required')"
                               class="text-danger">
                          This field is required.
                        </small>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-check">
                        <input class="form-check-input" id="inlineFormCheck" type="checkbox">
                        <label class="form-check-label" for="inlineFormCheck">Remember me</label>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <a class="float-end text-primary">Forgot Password?</a>
                    </div>

                    <div class="col-12">
                      <button (click)="login()" class="btn btn-primary px-4 float-end mt-4" type="button">login</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-5 ps-0 d-none d-md-block">
                <div class="form-right h-100 bg-primary text-white text-center pt-5">
                  <h1>LMS</h1>
                  <h2 class="fs-1">Welcome Back!!!</h2>
                </div>
              </div>
            </div>
          </form>
        </div>
        &lt;!&ndash;        <p class="text-end text-secondary mt-3">Bootstrap 5 Login Page Design</p>&ndash;&gt;
      </div>
    </div>
  </div>
</div>
-->
<div class="login-page bg-light">
  <div class="container ">
    <div class="row">
      <form (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="mb-10 col-5 mx-auto">
          <div class="h1 text-center">Library Management System</div>
        </div>
        <div class="mt-5 mb-5 col-5 mx-auto">
          <div class="h2 text-center">Login</div>
        </div>
        <div class="mb-5 col-4 mx-auto">
          <label class="form-label" for="email">Email address</label>
          <input [class.is-invalid]="loginForm.get('email').invalid
            && (loginForm.get('email').dirty
            || loginForm.get('email').touched)" formControlName="email" class="form-control" id="email" placeholder="Your email address" type="email">
          <span class="mt-2 invalid-feedback">Field is required</span>
        </div>
        <div class="mb-5 col-4 mx-auto">
          <label class="form-label" for="password">Password</label>
          <input [class.is-invalid]="loginForm.get('password').invalid
            && (loginForm.get('password').dirty
            || loginForm.get('password').touched)" formControlName="password" autocomplete="current-password" class="form-control" id="password" placeholder="Password"
                 type="password">
          <span class="mt-2 invalid-feedback">Field is required</span>
        </div>
        <div class="mb-5 col-4 mx-auto">
          <div class="form-check">
            <input class="form-check-input" id="check_example" name="check_example" type="checkbox">
            <label class="form-check-label" for="check_example">
              Keep me logged in
            </label>
          </div>
        </div>
        <div class="col-4 mx-auto">
          <a (click)="login()" class="btn btn-primary w-full">
            Sign in
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
